@media (max-width: 1200px) {
    .carousel {
        .container {
            .prev {
                left: -30px;
            }
            .next {
                right: -30px;
            }
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        button {
            display: none;
        }
    }
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}