@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .consultation {
        padding: 30px 10px 20px 10px;
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .consultation {
        min-height: 100vh;
        .title {
            font-size: 25px;
        }
        &__descr {
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
        }
    }
}

@media (max-width: 575px) {
    .consultation {
        .feed-form {
            margin-left: auto;
            margin-right: auto;
        }
    }
}