        .carousel {
            padding: 81px 0;
            .container {
                .prev,
                .next {
                    position: absolute;
                    border: none;
                    background: #fff;
                    top: 50%;
                    border: none;
                    transform: translateY(-50%);
                    left: -66px;
                    img {
                        width: 31px;
                        height: 50px;
                    }
                }
                .next {
                    right: -66px;
                    left: auto;
                }
            }
            &__inner {
                .tns-item {
                    img {
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }