.reviews {
    padding-bottom: 71px;
    &__items {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        &:nth-last-child() {
            margin-bottom: 0;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        border-radius: 100%;
        margin-right: 62px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__tag {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-top: 14px;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
}